.layout {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.layout-bottom {
	background-color: #C64;
	color: #FFF;
	padding: 16px;
	background-image: url('/static/mmvs-mono.png');
	background-position: 64px center;
	background-repeat: no-repeat;
	background-size: auto 80%;
}
.layout-main {
	flex: 1 1 100%;
	display: flex;
	flex-direction: row;
	min-height: 50%;
}
.layout-sidebar {
	box-sizing: border-box;
	background-color: #30363c;
	color: #FFF;
	flex-basis: 300px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
}
.sidebar-header {
	font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    display: flex;
	align-items: center;
    background: #202830;
    height: 72px;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
}
.sidebar-menu {
	padding: 5px;
	flex-grow: 1;
}
.sidebar-menu > a {
	color: #CCC;
    padding: 15px;
    display: block;
    border-radius: 5px;
    display: flex;
	align-items: center;
	text-decoration: none;
}
.sidebar-menu > a > img {
	margin-right: 20px;
    opacity: .4;
}
.sidebar-menu > a.active > img {
    opacity: 1;
}
.sidebar-menu > a:hover {
	color: #FFF;
    background: #20262c;
    text-decoration: none;
}
.sidebar-menu > a.active {
	font-weight: bold;
	color: #FFF;
}
.sidebar-footer {
	padding: 16px;
}
.sidebar-login-block {
	padding: 8px 16px;
}
.layout-content {
	flex-grow: 1;
	height: 100%;
	padding-top: 72px;
	background-color: #DDD;
	overflow: hidden;
}
.layout-content-wrapper {
	height: 100%;
	background-color: #FFF;
	overflow: auto;
}

#sidebarSwitch {
	font-size: 18pt;
	vertical-align: middle;
	margin-top: -5px;
	margin-left: auto;
	border: 0;
	background: transparent;
	cursor: pointer;
	color: #FFF;
}