.layout {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.layout-top {
	background: #000;
	color: #fff;
	padding: 16px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 55px;
}
.layout-bottom {
	background-color: #abadb1;
	color: #FFF;
	padding: 9px;
	background-image: url('/static/mmvs-mono.png');
	background-position: 64px center;
	background-repeat: no-repeat;
	background-size: auto 60%;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	height: 32px;
}
.layout-main {
	display: flex;
	position: relative;
	height: 100%;
	max-height: 100%;
	width: 100%;
}
.layout-sidebar {
	padding: 8px 16px;
	box-sizing: border-box;
	color: #000;
	background-color: #dddad4;
	display: block;
	top: 0;
	width: 300px;
	left: 0;
	bottom: 0;
}
.layout-sidebar--toggled {
	display: none;
}
.layout-content--toggled {
	left: 0;
}
.layout-sidebar > a {
	display: block;
	color: inherit;
	text-decoration: none;
	padding: 8px 0;
}
.layout-sidebar > a:hover {
	text-decoration: underline;
}
.layout-sidebar > a.active {
	font-weight: bold;
}
.layout-content {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.layout-content--toggled > .layout-content-wrapper > .toolbar {
    left: 0;
}

@media only screen and (max-device-width: 640px) {
	.layout-main {
		position: static;
	}
	.layout-sidebar {
		position: static;
		padding: 8px 16px;
		box-sizing: border-box;
		background-color: #CCC;
		display: none;
		width: 100%;
	}
	.layout-sidebar--toggled {
		display: block;
		margin-bottom: 10px;
	}
	.layout-content {
		position: static;
		left: none;
		display: block;
		padding-top: 20px;
	}
	.layout-content-wrapper {
		position: static;
		margin-bottom: 150px;
		margin-top: -26px;
	}
	.layout-content-wrapper > .toolbar {
		margin: 0;
		padding: 0 8px;
		z-index: 98;
	}
	.layout-content-wrapper > .toolbar > button {
		display: block;
		border: 0;
		margin: 8px 0 0;
		width: 100%;
	}
	.layout-top {
		background-image: url('/static/mmvs-mono.png');
		background-position: 70px center;
		background-repeat: no-repeat;
		background-size: auto 50%;
	}
	.layout-top > b {
		display: none;
	}
	.layout-bottom {
		background-image: none;
	}
	.microdialog, .dialog {
		position: fixed;
		top: 55px;
        width: 100%;
		left: 0;
		right: 0;
	}
	.dialog td {
        display: block;
        width: 100% !important;
    }
	.microdialog .listview, .dialog .listview {
		max-height: 10em;
	}
}
