.ds-dialog-fog {
    z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}
.ds-dialog-hidden {
    display: none;
}
.ds-minidialog {
	max-width: 480px;
	width: 100%;
	max-height: 90%;
	overflow: hidden;
	background: #EFEFEF;
	border: 1px solid #080808;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	z-index: 101;
	display: flex;
	flex-direction: column;
}
.ds-dialog {
	max-width: 960px;
	width: 100%;
	max-height: 90%;
	overflow: hidden;
	background: #EFEFEF;
	border: 1px solid #080808;
	box-sizing: border-box;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	z-index: 101;
	display: flex;
	flex-direction: column;
}

.ds-minidialog .listview {
	max-height: 50vh;
	background-color: #FFF;
	padding: 4px;
	border: 1px solid #DEDEDE;
	display: block;
}

.ds-dialog > .dialog-body {
	flex-grow: 1;
	flex-shrink: 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.ds-minidialog > .dialog-body {
	overflow: auto;
}