body {
    font: 400 12pt "Segoe UI", "Liberation Sans", sans-serif;
}
.mainwrap {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: #eee;
    color: #000;
    border: 1px solid #ccc;
    margin: 4px 0 16px;
    font-size: 12pt;
    border-radius: 4px;
}
button {
    display: block;
    margin: 0 auto;
	font-size: 12pt;
    font-family: inherit;
	background: #39f;
	border: 0;
	border-bottom: 3px solid;
    border-color: #06c;
	color: #FFF;
	padding: 12px;
	vertical-align: top;
	cursor: pointer;
    outline: 1px solid #000;
}
button:active {
	border-top: 2px solid #fff;
	border-bottom: 1px solid #222;
}
